.div1{
	background-color:green;
	position:relative;
	width:250px;
	height:200px;
	text-align:center;
}

.div2{
	background-color:blue;
	position:absolute;
	top:25px;
	left:25px;
	width:200px;
	height:150px;
	}
.div3{
	background-color:red;
	position:absolute;
	top:25px;
	left:25px;
	width:150px;
	height:100px;
}